h1 {
    border-bottom: 1px solid #000;
    color: rgb(0,113,188);
}
h2 {
    border-bottom: 1px solid #000;
    color: rgb(238, 50, 50);
}
h3 {
    border-bottom: 1px solid #000;
    color: rgb(0,113,188);
}
